@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

:root { 
    --1-c:whitesmoke;
    --2-c:#b6b8bd;
    --3-c:#9a9ca0;
    --4-c:#888888;
    --5-c:#4f5155;
    --6-c:#494b4e;
    --7-c:#3f4144;
    --8-c:#37383d;
    --9-c:#323338;
    --10-c:#272c38;
    --11-c:#1d1e20;
    --12-c:#131313;
    --alternate-1-c:rgb(0, 0, 0);
    --alternate-2-c:#494742;
    --alternate-3-c:#65635f;
    --alternate-4-c:#777777;
    --alternate-5-c:#b0aeaa;
    --alternate-6-c:#b6b4b1;
    --alternate-7-c:#c0bebb;
    --alternate-8-c:#c8c7c2;
    --alternate-9-c:#cdccc7;
    --alternate-10-c:#d8d3c7;
    --alternate-11-c:#e2e1df;
    --alternate-12-c:#ececec;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--12-c);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-position: center;
}

.login-container {
    width: 375px;
    height: 270px;
    border-radius: 1rem;
    background: var(--8-c);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(90, 90, 90);
}

.login-container h1 {
    margin-top: 2rem;
    color: var(--3-c);
}

.login-container input {
    width: 75%;
    height: 17%;
    border-radius: 1rem;
    border: none;
    margin: 5px;
    outline: none;
    text-indent: 1.5rem;
    font-weight: 600;
    font-size: 16px; 
    background-color: var(--5-c);
    color: var(--2-c);
}

.login-container input::-webkit-input-placeholder {
    color: var(--3-c);
}

.login-container button {
    width: 75%;
    height: 17%;
    border-radius: 1rem;
    border: none;
    margin: 10px;
    background: var(--11-c);
    transition: .3s;
    font-weight: 600;
    font-size: 16px;
    color: var(--9-c);
}

.login-container button:hover {
    transform: scale(0.98);
}

#login-container, #website-container {
    transition: .5s ease-in-out;
}

.container  {
    width: 360px;
    height: 480px;
    background: var(--8-c);
    border-radius: 1.5rem;
    padding: 15px;
    overflow-y: scroll;
    position: relative;
}

.expanded-container {   
    height: 0;
    background: transparent;
    overflow-y: hidden;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.expanded-container.open {
    height: 403px;
    transform: translateY(-6%);
    margin-top: 10px;
}

.btn {
    position: relative;
    padding: 10px;
    background: var(--5-c);
    width: 225px;
    text-align: center;
    margin: 5px;
    border-radius: 1rem;
    font-weight: 600;
    top: -5rem;
    transition: .1s;
    text-decoration: none;
    color: var(--2-c);
}

.btn:hover {
    transform: scale(0.95);
    box-shadow: 0px 0px 10px black;
    color: var(--1-c);
}

.search-header {
    position: sticky;
    background-color: var(--6-c);
    border-radius: 1rem;
    margin-bottom: 15px;
}

.container form {
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.container form input {
    border: none;
    outline: none;
    width: 86%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    background: var(--6-c);
    color: var(--2-c);
}

.container form ::-webkit-input-placeholder {
    color: var(--4-c);
}

.container form i{
    padding-left: 10px;
    font-weight: 800;
    font-size: 20px;
    color: var(--2-c);
}

#arrow-icon {
    font-size: 24px;
    cursor: pointer;
    transition: .3s;
}

#arrow-icon.open {
    transform: rotate(90deg);
    position: relative;
    right: -5px;
    top: -5px;
}

.product {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px; 
    background-color: var(--5-c);
    border-radius: 1rem; 
    margin-bottom: 10px; 
    height: 90px;
}

.product:hover {
    background: var(--7-c);
}

.product.expanded {
    height: auto;
    background: var(--5-c);
    transform: scaleY(1);
    margin-bottom: 10px;
    padding-bottom: 15px;
    flex-direction: column;
    transition: .4s; 
}

.product.expanded:hover {
    background: var(--7-c);
}

.product img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 1rem;
    margin-left: -2px;
    opacity: 0.5;
}

.product:hover img {
    opacity: 1;
}

.product-list {
    max-height: 25rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 1rem;
}

.product .p-details {
    padding-left: 15px;
}

.product.expanded .p-details {
    padding-left: 0;
}

.product .p-details h2 {
    font-size: 1.125rem;
    color: var(--3-c);
    text-align: center;
}

.product.expanded .p-details h2 {
    padding-top: 5px;
    font-size: 1.25rem;
    text-align: center;
}

.product .p-details h6 {
    display: none;
    font-size: 15px;
    font-weight: 600;
    color: var(--3-c);
    text-align: center;
}

.product.expanded .p-details h6 {
    display: block;
}

.product .p-details h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--3-c);
}

.product.expanded .p-details h3 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 20px;
}

.product .p-details h1 {
    display: none;
    position: absolute;
    top: 0;
    left: 15.3rem;
    padding: 10px;
    color: var(--3-c);
    font-size: 16px;
}

.product.expanded .p-details h1 {
    display: block;
}

.product .p-details h4 {
    display: none;
    position: absolute;
    top: 0;
    left: 16.3rem;
    padding: 10px;
    color: var(--3-c);
}

.product.expanded .p-details h4 {
    display: block;
}

.product .p-details h5 {
    display: none;
    font-size: 17px;
    text-align: center;
    color: var(--3-c);
}

.product.expanded .p-details h5 {
    display: block;
}

.product .p-details p {
    display: none;
    color: var(--3-c);
    font-size: 14px;
    text-align: center;
    padding: 0;
}

.product.expanded .p-details p {
    display: block;
}

.product.expanded .p-details h2 {
    text-align: center;
}

.footer {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: var(--2-c);
}

.footer .footer-text h6 {
    font-size: 20px;
    font-weight: 700;
    color: var(--2-c);
}

u {
    color: var(--10-c);
}

.he {
    color: transparent;
}

.popup-container {
    position: absolute;
    width: 92%;
    height: 400px;
    background: var(--8-c);
    margin-bottom: 15px;
    opacity: 0;
    pointer-events: none;
    transition: .4s ease;
    z-index: 2;
}

.popup-container.active {
    opacity: 1;
    pointer-events: auto;
    transition: .4s ease;
    z-index: 2;
}

.popup-container.active .popup-box {
   transform: scale(1); 
   transition-delay: .25s;
}

#arrow-icos {
    position: relative;
    font-size: 24px;
    top: 5px;
}

.popup-container .popup-box {
    background: var(--5-c);
    border-radius: 1rem;
    padding: 20px;
    transform: scale(0);
    transition: .4s;
}

.popup-box p {
    position: relative;
    top: -20px;
    text-align: center;
    margin-bottom: 15px;
    width: 90%;
    font-weight: 600;
    color: var(--2-c);
    left: 10px;
}

.popup-box h1 {
    line-height: 1;
    margin: 12px 0 20px;
    text-align: center;
    color: var(--2-c);
}

.popup-box .close-btn {
    width: 100%;
    height: 45px;
    background: var(--8-c);
    border-radius: 1rem;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: var(--2-c);
    font-weight: 600;
}

.ha {
    font-size: 23px;
    font-weight: 600;
    margin-right: 5px;
}

#set {
    position: relative;
    cursor: pointer;
    display: inline-block;
    bottom: 0px;
    width: 60px;
    font-size: 20px;
    color: var(--2-c);
}

.settings-pop {
    position: absolute;
    width: 92%;
    height: 600px;
    background: var(--8-c);
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    opacity: 0;
    pointer-events: none;
    transition: .4s ease;
    z-index: 2;
}

.settings-pop.active {
    opacity: 1;
    display: block;
    pointer-events: auto;
    transition: .4s ease;
    z-index: 2;
}

.settings-pop.active .settings-box {
   transform: scale(1); 
   transition: .4s ease;
   transition-delay: .25s;
}



.settings-pop .settings-box {
    width: auto;
    height: auto;
    background: var(--5-c);
    border-radius: 1rem;
    padding: 20px;
    transform: scale(0);
    transition: .4s;
}

.settings-box p {
    text-align: start;
    margin-bottom: 15px;
    width: 90%;
    font-weight: 500;
}

.settings-box h1 {
    line-height: 1;
    margin: 15px;
    text-align: center;
    color: var(--2-c);
}

.settings-box .close-btx {
    width: 100%;
    height: 45px;
    background: var(--8-c);
    border-radius: 1rem;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: var(--2-c);
    font-weight: 600;
}

.conty {
   position: relative;
   max-width: 320px;
   width: 100%;
   border-radius: 8px;
}

.select-btn {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    height: 43px;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--7-c);
    margin-bottom: 10px;
}

.select-btn .btn-text {
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
    color: var(--2-c);
}

.select-btn .arrow-icon {
   font-size: 20px;
}

#arow {
    position: relative;
    font-size: 24px;
    transition: .3s;
    color: var(--2-c);
    font-weight: 800;
    right: 10px;
    top: 3px;
}

.list-items.active .conty {
    margin: 10px auto 10px;
}

.list-items {
  position: absolute;
  padding: 1px;
  border-radius: 1rem;
  background-color: var(--5-c); 
  opacity: 0;
  transition: .5s;
  margin-top: 10px;
 z-index: 2;
 width: 88%;
 pointer-events: none;
 top: 45px;
}

 .list-items.active {
    opacity: 1;
    top: 200px;
    transition: .4s ease;
    pointer-events: auto;
 }

 .list-items.active #arow {
    transform: rotate(-180deg);
 }

.item-link {
    text-decoration: none;
}

.list-items .item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    list-style: none;
    height: 40px;
    cursor: pointer;
    transition: .1s; 
    border-radius: 8px;
    margin: 6px;
    z-index: 2;
    background: var(--7-c)
}

.item .item-text {
    font-size: 16px;
    font-weight: 600;
    color: var(--2-c);
}

@media (max-width: 912px) {
    body {
        background-size: 150%;
        background-position: 0 0;
    }
}

@media (max-width: 840px) {
    body {
        background-size: 125%;
    }
}

@media (max-width: 820px) {
    body {
        background-size: 150%;
        background-position: 0 0;
    }
}

@media (max-width: 670px) {
    body {
        background-size: 150%;
    }
}


@media (max-width: 505px) {
    body {
        background-size: 175%;
    }
}

@media (max-width: 430px) {
    body {
        background-size: 200%;
    }
}

@media (max-width: 414px) {
    body {
        background-size: 250%;
    }
}

@media (max-width: 376px) {
    body {
        background-size: 220%
    }
}

@media (max-width: 360px) {
    body {
        flex-direction: row;
        background-size: 208%;
    }

    .product .p-details h2 {
        font-size: 18px;
    }
}

@media (max-width: 280px) {
    body {
        background-size: 235%;
    }

    .product.expanded .p-details h1 {
        left: 10rem;
    }

    .product.expanded .p-details h4 {
        left: 11rem;
    }
}